[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Faraz Vahedi
	email = kfv@kfv.io
	signingkey = 8D1D2417105C531C
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[push]
	autoSetupRemote = true
