[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Faraz Vahedi
	email = kfv@kfv.io
	signingkey = 2DDA54F4C573FFBE
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = vim
	excludesFile = ~/.gitignore
[push]
	autoSetupRemote = true
[credential]
	helper = osxkeychain
