! Fonts
st.font:		Iosevka:size=16.5
st.bold_font:		0

! Colours: 0-7 normal, 8-15 bold
! Black
st.color0:		#000000
st.color8:		#303030
! Red
st.color1:		#ff6161
st.color9:		#ff4141
! Green
st.color2:		#8be879
st.color10:		#99ff85
! Yellow
st.color3:		#ffe877
st.color11:		#ffe254
! Blue
st.color4:		#66c2ff
st.color12:		#4db8ff
! Magenta
st.color5:		#ff739d
st.color13:		#ff4d82
! Cyan
st.color6:		#a8fffe
st.color14:		#4dfffc
! White
st.color7:		#ededed
st.color15:		#ffffff
